body{
    background-color:black;
    color: white;
    margin: 0;
    text-align: center;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
};


.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: gold;
    
};

li {
    float: left;
};

li a {
    display: block;
    width: 60px;
};

li a:hover {
    background-color: red;
};

footer {
    width: 100%;
    padding: 20px;
    color: white;
    background-color: grey;
    float: inline-end;
};

.card {
    border: 40px solid white;
};

img {
    height: 100px;
}